### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

# Compiled output
out/
*.class

# Save file
*.ser
hotel_data.ser

# IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

.idea/
*.iml
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

**/META-INF/

*.exe

launch4j-config.xml

launch4j.txt

*.log
